.spin {
    display: flex;
    height: 60vh;
    align-items: center;
    justify-content: center;
}

.container {

    width: 50%;
}

@media only screen and (min-width: 280px) and (max-width: 570px) {
	.container{

        width: 80%;
    }
}