.panel-info {

    border: 3px solid #d03d46;
    border-radius: 5px;
    padding: 10px;
    
}

.leyenda{

    display: flex;
    height: 70vh;
    align-items: center;
    justify-content: center;
    color: #262e42;
}