<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="">
        <h3 style="text-align: center;">Bienvenidos</h3>
        <div class="d-flex justify-content-center">
            <img src="../../../assets/img/login.png" style="width: 150px; margin-bottom: 10px;" alt="">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control ancho" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="mb-2">
            <label for="exampleFormControlInput1" class="form-label">Password</label>
            <input type="password" class="form-control ancho" id="exampleFormControlInput1" placeholder="password">
        </div>
        <div class="mb-2">
            <input type="submit" class="form-control ancho btn btn-outline-light" style="margin-top: 10px;" value="LogIn">
        </div>
        
    </div>
</div>



