/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f7cacb;
}

.imagen{
    width: 250px;
}


.visualizador{
    
    border-bottom: 3px solid #d03d46;
    padding-bottom: 20px;
}




